/**** Style for ticket entry trail ****/

/* Entry expand gradient fix */
div[guielement="pt-trail"] div[role="listitem"] div[handle="crt-gradient"] {
    height: auto !important;
    bottom: 0;
    left: 0 !important;
    width: 100% !important
}

/* Entry from operator (visible to caller) */
div[guielement="pt-trail"] div[role="listitem"][aria-label^="Entry from user"][mstyles=""] {
    background-color: var(--color-trans-green-30);
}

div[guielement="pt-trail"] div[role="listitem"][aria-label^="Entry from user"][mstyles=""] div[guielement="pt-entry-sidebar"] {
    background-color: var(--color-trans-green-100);
}

div[guielement="pt-trail"] div[role="listitem"][aria-label^="Entry from user"] div[handle="crt-gradient"] {
    background-image: linear-gradient(transparent, var(--color-trans-green-80)) !important;
}

/* Entry from operator (invisible to caller) */
div[guielement="pt-trail"] div[role="listitem"][aria-label^="Entry from user"][mstyles="pt-invisible"] {
    background-color: var(--color-trans-gray-30);
}

div[guielement="pt-trail"] div[role="listitem"][aria-label^="Entry from user"][mstyles="pt-invisible"] div[handle="crt-gradient"] {
    background-image: linear-gradient(transparent, var(--color-trans-gray-80)) !important;
}

/* Entry from caller */
div[guielement="pt-trail"] div[role="listitem"][aria-label^="Mail import message"] {
    background-color: var(--color-trans-blue-30);
}

div[guielement="pt-trail"] div[role="listitem"][aria-label^="Mail import message"] div[guielement="pt-entry-sidebar"] {
    background-color: var(--color-trans-blue-100);
}

div[guielement="pt-trail"] div[role="listitem"][aria-label^="Mail import message"] div[handle="crt-gradient"] {
    background-image: linear-gradient(transparent, var(--color-trans-blue-80)) !important;
}

/* Attached file */
div[guielement="pt-trail"] div[role="listitem"][aria-label^="Attached file"] {
    background-color: var(--color-trans-blue-15);
}

div[guielement="pt-trail"] div[role="listitem"][aria-label^="Attached file"] div[guielement="pt-entry-sidebar"] {
    background-color: var(--color-trans-blue-100);
}

div[guielement="pt-trail"] div[role="listitem"][aria-label^="Attached file support"],
div[guielement="pt-trail"] div[role="listitem"][aria-label^="Attached file TOPdesk"] {
    background: transparent;
    opacity: 0.5;
}

div[guielement="pt-trail"] div[role="listitem"][aria-label^="Attached file support"] div[guielement="pt-entry-sidebar"],
div[guielement="pt-trail"] div[role="listitem"][aria-label^="Attached file TOPdesk"] div[guielement="pt-entry-sidebar"] {
    background: transparent;
}

/* Sent email */
div[guielement="pt-trail"] div[role="listitem"][aria-label^="Sent email"] {
    opacity: 0.5
}