/**** Style for element after "Make invisible to caller" checkbox ****/

div[handle="progresstrail.invisible_for_caller"] {
    overflow: visible !important;
}

div[handle="progresstrail.invisible_for_caller"]::after {
    color: #fff;
    padding: 3px 7px;
    margin-left: 10px;
    border-radius: 5px;
    bottom: -1px;
    position: absolute;
}

/* Checkbox ON - Internal note */
body:has(button[handle="invisible-for-caller-invisible-for-caller-checkbox"][mangovalue="true"]) div[handle="new-entry-field-actie"] {
    background-color: var(--color-trans-gray-30);
}

body:has(button[handle="invisible-for-caller-invisible-for-caller-checkbox"][mangovalue="true"]) div[handle="progresstrail.invisible_for_caller"]::after {
    content: "Internal note";
    background-color: var(--color-solid-gray);
}

/* Checkbox OFF - Message to caller */
body:not(:has(button[handle="invisible-for-caller-invisible-for-caller-checkbox"][mangovalue="true"])) div[handle="new-entry-field-actie"] {
    background-color: var(--color-trans-green-30);
}

body:not(:has(button[handle="invisible-for-caller-invisible-for-caller-checkbox"][mangovalue="true"])) div[handle="progresstrail.invisible_for_caller"]::after {
    content: "Message to caller";
    background-color: var(--color-solid-green);
}